.header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  padding: 32px 72px;
  background: #0f132d;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 10;

  &__navigation {
    display: flex;
    align-items: center;
    justify-content: flex-end;

    @include screen(650) {
      justify-content: space-between;
      width: 100%;

    }
  }

  .socials {
    display: flex;
    align-items: center;
    margin-right: 120px;

    li {

      &+li {
        margin-left: 16px;
      }
    }

    @include screen(750) {
      display: none;
    }
  }

  .icon {
    display: block;
    width: 26px;
    height: 24px;
    background: url(../images/sprite.png) no-repeat;



    &.facebook {
      background-position: 0 0;
      width: 10px;
    }

    &.twitter {
      background-position: -28px -2px;
      width: 20px;
    }

    &.linkedin {
      background-position: -68px 1px;
      width: 20px;
    }

    &.instagram {
      background-position: -106px 0px;
      width: 20px;
    }

    &.youtube {
      background-position: -145px 0;
      width: 25px;
    }

    &.account {
      background-position: -295px 0;
      position: relative;

    }

    &.search {
      background-position: -368px 0;
      margin-left: 45px;
    }

    &:hover {
      filter: brightneess(0.7);
      transform: scale(1.2);
    }
  }

  &__logo {
    color: $white-min;
    font-weight: 700;
    font-size: 25px;
    margin-right: 40px;
  }

  .account {
  position: relative;

    &__menu {
      position: absolute;
      top: 1%;
      left: 50%;
      transform: translateX(-50%);
      padding: 30px 0 0;
      max-height: 0;
      transition: 0.3s;
      overflow: hidden;
      z-index: 1;

      &:hover {
        overflow: initial;
        transition: .5s;
      }

      a {
        display: block;
        color: $white;
        font-size: 20px;
        padding: 10px 25px;
        white-space: nowrap;
        background: blue;

        &:hover {
          filter: brightneess(0.5);
          transform: scale(1.1);

          &:first-child {
            border-radius: 5px 5px 5px 5px;
          }
  
          &:last-child {
            border-radius: 5px 5px 5px 5px;
          }
        }

        &:first-child {
          border-radius: 5px 5px 0 0;
        }

        &:last-child {
          border-radius: 0 0 5px 5px;
        }

      }
    }

    .search {
      display: flex;
      align-items: center;
      position: relative;
      margin-left: 45px;

      // .input {
      //   margin: 0;
      //   border: none;
      //   width: 30px;
      //   padding: 10px;
      //   transition: width 0.3s;
      //   border-radius: 15px;
      //   background: grey;
      // }
  
      // .input, .search-button {
      //   &:focus  {
      //     outline: none;
      //   }
      // }
  
      // &.active {
  
      //   .input {
      //     width: 250px;
      //     background: white;
  
      //     @include screen(768) {
      //       width: 120px;
      //     }
      //   }
  
      //   .search-button {
      //     transform: translateX(220px);
      //     background: white;
  
      //     @include screen(768) {
      //       transform: translateX(220px);
      //     }
  
      //     img {
      //       filter: invert(0.5)
      //     }
      //   }
      // }
    }

    

  }

  .menu-icon {

    margin-left: 60px;

    .burger-btn {

      cursor: pointer;
      display: block;
      width: 44px;
      height: 44px;
      transition: 0.3s;
      background: url(../images/menu.png) no-repeat 50% 50%;
      background-size: 30px;
      border: 1px solid $white;
      border-radius: 5px;
      position: relative;
      z-index: 7;

    }

    .burger-menu {

      position: fixed;
      right: -330px;
      top: 0;
      height: 100vh;
      transition: 0.4s;
      overflow-y: auto;
      padding: 107px 15px;
      background: #face34;
      width: 320px;
      text-align: left;
      z-index: 5;

      li {
        padding: 10px;
      }

      .burger-link {
        color: $white;
        margin-right: 15px;
        padding: 20px 15px;



        &:hover {
          color: $blue-basic;
          font-size: 24px;

        }
      }
    }

    &.opened {

      .burger-btn {
        background-image: url(../images/close.png);
        border: 1px solid red;
      }

      .burger-menu {
        right: 0;
      }
    }
  }
}